@font-face {
  font-family: poppinsMed;
  src: url("/static/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppinsSemi;
  src: url("/static/Poppins/Poppins-SemiBold.ttf");
}

body {
  background-image: url("/static/ibm_proj_bck.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppinsMed;
}

.profile{
    padding:100px;
    background-color:white;
}
.profile_container {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  background-color: rgba(218, 218, 218, 0.651);
}

.each-cred{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}