@charset "UTF-8";

.my-content{
	display:flex;
}
.my_des{
	color:#555753;
	font-size:15px;
	text-align:justify;
}
.skills{
	margin-left:100px;
}
.skills>h4{
	color:#32aefb;
	text-align:center;
}
.skill-level{
	display:flex;
	align-items:center;
	margin:30px 0px;
	color:gray;
	
}
.level{
	width:250px;
	height:13px;
	padding:1px;
	border-radius:20px;
	border:1px solid gray;
	margin-left:30px;
	position:relative;
	overflow:hidden;
}
.skill-level h5{
	width:100px;
}
.level-indicator{
	position:absolute;
	top:0px;
	left:0px;
	background-color:rgb(1,173,36);
	height:100%;
	border-radius:20px;
}
.e-personal{
	font-size:14px;
	display:flex;
	margin:20px 0px;
}
.per-value{
	color:#555753;
	margin-left:80px;
}
.per-key{
	color:#555753;
	width:100px;
}
